<div class="page-header">
 <%if current_user.try(:admin?)%>
    <%= link_to new_genre_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Genre
    <% end %>
  <%end%>
  <h1>Genres:</h1>
</div>

<div class="table">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <%if current_user%>
          <%if current_user.admin?%>
            <th></th>
            <th></th>
          <%end%>
        <%end%>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @genres) do |genre| %>
        <td><%= link_to genre.name, genre %></td>
        <%if current_user%>
          <%if current_user.admin?%>
            <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
            <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>


