<%= simple_form_for(@film) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :genre_id %>
    <%= f.input :ratings %>
    <%= f.input :discription %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
